
// variables - colors

$red-color:                 #ED1C24;
$darkgrey-color:            #02142B;
$lightgrey-color:           #808080;
$backgroundgrey-color:      #F5F5F5;
$footer-color:              #1F252B;  

// variables - fonts

$headings-font:             'lato', sans-serif;
$body-font:                 'lato', sans-serif;


$body-size:                 16px;
$h1-size:                   32px;
$h2-size:                   24px;
$h3-size:                   20px;





body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  
  background-color: $backgroundgrey-color;
  color: $darkgrey-color;
  margin:0px;
}

// outer wrapper
.container-fluid {
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

// inner wrapper
.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px;
}


header {
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
  z-index: 2;
}


header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px;

}


header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;

  a {
  color: $darkgrey-color;
  font-family: $headings-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: $red-color;
      transition: color 0.2s ease;
    }
  }
}



header img {
  width: 120px
}


h2 {
  text-align: center;
  font-size: $h2-size;
  font-family: $headings-font;
  text-transform: uppercase;
  margin: 30px 0;
}

h3 {
  font-size: $h3-size;
  font-family: $headings-font;
  margin-left: 10px;
}

section {
  margin-top: 100px;
}

.recent {
  margin-top: 150px;
  p {
    text-align: center;
  }
  a {
    color: $red-color;
    text-decoration: none; 
  }
  h2 {
   margin-bottom: 10px   
  }
}

.mapcanvas{
  height:70vh; 
  width:100%;
}


.list-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  margin: 10px 0;
}

ul {
  margin: 0px 10px;
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;

}

.venues a {
  font-weight: 600;
  text-decoration: none;
  color: $darkgrey-color;
}

.rating {
  color: $darkgrey-color;
}

.location {
  font-size: 12px;
  display: block;
}







.about-image {
  height: 450px;
  width: 100%;
  background-image: url('../images/2.jpeg');
  background-repeat: no-repeat;

  background-position: center;
  background-color: red;
  background-size: cover;
}

.about-text {
  max-width: 900px;
  margin: 40px auto 0;
}


footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
    margin: 20px auto;
}

.footerstyles {
  padding: 0px 20px;
  background-color: $footer-color;
    overflow: hidden;

  span {
    color: #C1C0B9;
    font-family: $body-font;
    font-size: $body-size;
    margin: 5px;
    letter-spacing: 1.5px;
  }
}



footer nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px;

  a {
  color: $red-color;
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: white;
      transition: color 0.2s ease;
    }
  }
}

.visible-small {
  display:none;
}

@media (max-width: 400px) {

  .hidden-small {
    display:none;
  }
  .visible-small {
    display:block;
  }

  .recent {
    margin-top: 80px;
  }

  .container {
    padding: 20px;
  }

  section {
    margin-top: 50px;
  }
  .about-text {
  max-width: 900px;
  margin: 40px;
  }

}







