body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  background-color: seashell;
  color: #444;
  margin: 0px;
}

.container-fluid {
  overflow: hidden;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px;
}

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px 8px;
}

header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;
}

header nav li a {
  color: #FB0D29;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;
}

header nav li a:hover {
  color: #FB0D29;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

header img {
  width: 100px;
}

.scrolled {
  background-color: white;
  -webkit-box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
          box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
}

h2 {
  color: #FB0D29;
  text-align: center;
  font-size: 42px;
  font-family: "Lato", sans-serif;
}

h3 {
  color: #444;
  text-align: center;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 30px 0;
}

a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

::-moz-selection {
  background: #FB0D29;
  color: white;
}

::selection {
  background: #FB0D29;
  color: white;
}

a::-moz-selection {
  background: #FB0D29;
  color: #444;
}

a::selection {
  background: #FB0D29;
  color: #444;
}

.welcome {
  max-width: 800px;
  margin: 100px auto 0;
}

.welcome .h2 {
  color: #444;
  font-size: 42px;
  font-family: "Lato", sans-serif;
}

.welcome a {
  color: #FB0D29;
  font-size: 42px;
  font-family: "Lato", sans-serif;
}

.welcome .aside {
  color: #444;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.welcome .aside:hover {
  color: #FB0D29;
}

.recent {
  margin-top: 200px;
  text-align: center;
}

.recent a {
  color: #444;
  display: block;
  margin-bottom: 20px;
}

.recent a:hover {
  color: #FB0D29;
}

.mapcanvas {
  height: 70vh;
  width: 100%;
}

.places {
  margin-top: 200px;
  text-align: center;
}

.places a {
  color: #444;
  display: block;
  margin-bottom: 20px;
}

.places a:hover {
  color: #FB0D29;
}

.list {
  margin-top: 50px;
}

.list-image {
  height: 450px;
  width: 100%;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover;
  margin-bottom: 60px;
}

.list-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px;
}

.filters-list {
  margin: 25px 0px 50px;
  text-align: center;
}

.filters-list a {
  margin: 0 5px;
  color: #444;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.filters-list a:hover {
  color: #FB0D29;
}

.filter-selected {
  color: red;
}

.bloody {
  width: 20%;
  padding: 20px;
}

.bloody a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #02142B;
  margin-left: 8px;
}

.rating img {
  width: 12%;
}

.location {
  font-size: 12px;
  margin: 5px 8px 0px 8px;
}

.about-image {
  height: 450px;
  width: 100%;
  background-image: url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover;
  margin-bottom: 60px;
}

.about-text {
  max-width: 800px;
  margin: 40px auto 0;
  font-size: 18px;
}

.about-text a {
  color: #FB0D29;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.footerstyles {
  background-color: #1F252B;
  overflow: hidden;
}

.footerstyles p {
  color: #C1C0B9;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 5px;
  letter-spacing: 1.5px;
}

footer nav li {
  margin: 0 0 0 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px;
}

footer nav li a {
  color: #FB0D29;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;
}

footer nav li a:hover {
  color: white;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.visible-small {
  display: none;
}

@media (max-width: 990px) {
  .bloody {
    width: 25%;
  }
}

@media (max-width: 770px) {
  .bloody {
    width: 40%;
  }
  .list-all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .hidden-small {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .container {
    padding: 20px;
  }
  header .container {
    padding: 20px;
  }
  header .container ul {
    display: inline;
  }
  footer .container {
    padding: 20px;
  }
  h3 {
    margin: 20px;
  }
  .recent,
  .places {
    margin-top: 100px;
  }
  .recent a,
  .places a {
    color: #FB0D29;
  }
  .welcome-image img {
    width: 30px;
  }
  .welcome {
    display: block;
    margin-top: 60px;
  }
  .welcome .h2 {
    font-size: 24px;
  }
  .welcome a {
    font-size: 24px;
  }
  .bloody {
    width: 90%;
  }
  .about-text {
    max-width: 900px;
    margin: 40px;
  }
}

@media (max-width: 367px) {
  header ul {
    -webkit-padding-start: 0px;
  }
}

@media (max-width: 327px) {
  header .container {
    padding: 10px;
  }
  header {
    height: 76px;
  }
}

@media (max-width: 310px) {
  header nav {
    font-size: 14px;
  }
  header img {
    width: 80px;
  }
  header .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 12px;
  }
}
/*# sourceMappingURL=style.css.map */