body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  background-color: seashell;
  color: #403f3f;
  margin: 0px; }

.container-fluid {
  overflow: hidden;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px; }

.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px; }

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px 8px; }

header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none; }
  header nav li a {
    color: #02142B;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px;
    text-decoration: none; }
    header nav li a:hover {
      color: #FB0D29;
      transition: color 0.2s ease; }

header img {
  width: 100px; }

.background-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; }

h2 {
  color: #FB0D29;
  text-align: center;
  font-size: 42px;
  font-family: "Lato", sans-serif; }

h3 {
  color: #403f3f;
  text-align: center;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 30px 0; }

h4 {
  color: #403f3f;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  margin-left: 10px; }

a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: color 0.2s ease; }

.recent {
  margin-top: 200px;
  text-align: center; }
  .recent a {
    color: #403f3f;
    display: block;
    margin-bottom: 20px; }
    .recent a:hover {
      color: #FB0D29; }

.welcome {
  max-width: 800px;
  margin: 100px auto 0; }
  .welcome .h2 {
    color: #403f3f;
    font-size: 42px;
    font-family: "Lato", sans-serif; }
  .welcome a {
    color: #FB0D29;
    font-size: 42px;
    font-family: "Lato", sans-serif; }

.welcome .about {
  color: #403f3f;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  transition: color 0.2s ease; }
  .welcome .about:hover {
    color: #FB0D29; }

.mapcanvas {
  height: 70vh;
  width: 100%; }

.places {
  margin-top: 200px;
  text-align: center; }
  .places a {
    color: #403f3f;
    display: block;
    margin-bottom: 20px; }
    .places a:hover {
      color: #FB0D29; }

.list {
  margin-top: 50px; }

.list-image {
  height: 450px;
  width: 100%;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover; }

.list-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.list ul {
  margin: 0px 10px;
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px; }

.venues a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #02142B;
  margin-left: 8px; }

.list li {
  margin: 15px 0 30px; }

.rating {
  display: block; }
  .rating img {
    width: 10%; }

.location {
  font-size: 12px; }

.about-image {
  height: 450px;
  width: 100%;
  background-image: url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover; }

.about-image h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  color: white; }

.about-text {
  max-width: 900px;
  margin: 40px auto 0; }
  .about-text a {
    color: #FB0D29; }

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto; }

.footerstyles {
  background-color: #1F252B;
  overflow: hidden; }
  .footerstyles p {
    color: #C1C0B9;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px; }

footer nav li {
  margin: 0 0 0 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px; }
  footer nav li a {
    color: #FB0D29;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px;
    text-decoration: none; }
    footer nav li a:hover {
      color: white;
      transition: color 0.2s ease; }

.visible-small {
  display: none; }

@media (max-width: 400px) {
  .hidden-small {
    display: none; }

  .visible-small {
    display: block; }

  .container {
    padding: 20px; }

  header .container {
    padding: 20px; }
    header .container ul {
      display: inline; }

  footer .container {
    padding: 20px; }

  h3 {
    margin-bottom: 10px; }

  .recent,
  .places {
    margin-top: 100px; }

  .recent a,
  .places a {
    color: #FB0D29; }

  .welcome {
    display: block;
    margin-top: 60px;
    margin-top: 100px; }
    .welcome .h2 {
      font-size: 24px; }
    .welcome a {
      font-size: 24px; }

  .about-text {
    max-width: 900px;
    margin: 40px; } }
@media (max-width: 367px) {
  header ul {
    -webkit-padding-start: 0px; } }
@media (max-width: 327px) {
  header .container {
    padding: 10px; }

  header {
    height: 76px; } }
@media (max-width: 310px) {
  header nav {
    font-size: 14px; }

  header img {
    width: 80px; }

  header .container {
    align-items: flex-end;
    padding: 12px; } }
