
// variables - colors

$red-color:                 #ED1C24;
$darkgrey-color:            #02142B;
$lightgrey-color:           #808080;
$backgroundgrey-color:      #F5F5F5;
$footer-color:              #1F252B;  

// variables - fonts

$headings-font:             'Oswald', sans-serif;
$body-font:                 'Source Serif Pro', serif;


$body-size:                 16px;

$h2-size:                   32px;
$h3-size:                   24px;



body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  
  background-color: $backgroundgrey-color;
  color: $darkgrey-color;
  margin:0px;
}

// outer wrapper
.container-fluid {
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

// inner wrapper
.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px;
}


// header

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
  z-index: 2;
}


header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px 8px;
}

header .border {
  background: linear-gradient(153deg, #4b00ff 2%, #00a1ff 37%, #00d6cc 100%);
  height: 1px;
}


header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;

  a {
  color: $darkgrey-color;
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: $red-color;
      transition: color 0.2s ease;
    }
  }
}

header img {
  width: 90px
}

.background-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background: rgb(154,7,7);
  background: linear-gradient(153deg, rgba(154,7,7,1) 2%, rgba(255,0,0,1) 37%, rgba(255,113,0,1) 100%);
}


// shared styles


h2 {
  text-align: center;
  font-size: $h2-size;
  font-family: $headings-font;
  text-transform: uppercase;
  margin: 30px 0;
}

h3 {
  font-size: $h3-size;
  font-family: $headings-font;
  margin-left: 10px;
}

section {
  margin-top: 100px;
}

a {
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
}


// Recent bloodys


.recent {
  margin-top: 150px;
    text-align: center;
  a {
    color: white;
    display: block;
    margin-bottom: 20px;
  }
  h2 {
   margin-bottom: 10px   
  }
}

.mapcanvas{
  height:70vh; 
  width:100%;
}


// list // 

#list {
  margin-top: 50px;
}

.list-image {
  height: 450px;
  width: 100%;
  background-image: url('../images/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover;   
}

.list-image h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color:white
}

.list-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.list ul {
  margin: 0px 10px;
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

.venues a {
  font-family: $headings-font;
  font-size: 14px;
  color: $darkgrey-color;
  margin-left: 8px;
}

.list  li {
    margin: 15px 0 30px; 
  }

.rating {
  display: block;
}

.location {
  font-size: 12px;
}



// About page //


.about-image {
  height: 450px;
  width: 100%;
  background-image: url('../images/2.jpeg');
  background-repeat: no-repeat;

  background-position: center;
  background-color: red;
  background-size: cover;
}

.about-image h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color:white
}


.about-text {
  max-width: 900px;
  margin: 40px auto 0;
  a {
    color:$red-color;
  }
}


// Footer styles //


footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px 40px;
}

.footerstyles {
  background-color: $footer-color;
  overflow: hidden;

  p {
    color: #C1C0B9;
    font-family: $headings-font;
    font-size: $body-size;
    margin: 5px;
    letter-spacing: 1.5px;
  }
}


footer nav li {
  margin: 0 0 0 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px;

  a {
  color: $red-color;
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: white;
      transition: color 0.2s ease;
    }
  }
}

.visible-small {
  display:none;
}

@media (max-width: 400px) {

  .hidden-small {
    display:none;
  }
  .visible-small {
    display:block;
  }

  .recent {
    margin-top: 80px;
  }

  .container {
    padding: 20px;
  }

  section {
    margin-top: 50px;
  }
  .about-text {
  max-width: 900px;
  margin: 40px;
  }

}







