@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AvenirLTStd-Heavy.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Book';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AvenirLTStd-Book.woff") format("woff"); }
body {
  font-family: "Avenir Book", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F5F5F5;
  color: #02142B;
  margin: 0px; }

.container-fluid {
  overflow: hidden;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px; }

.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px; }

header {
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 2px rgba(6, 8, 8, 0.15); }

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px; }

header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;
  font-size: 18px; }
  header nav li a {
    color: #02142B;
    font-family: "Avenir Heavy", sans-serif;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px;
    text-decoration: none; }
    header nav li a:hover {
      color: #ED1C24;
      transition: color 0.2s ease; }

header img {
  width: 120px; }

h2 {
  text-align: center;
  font-size: 24px;
  font-family: "Avenir Heavy", sans-serif;
  text-transform: uppercase;
  margin: 30px 0; }

h3 {
  font-size: 20px;
  font-weight: 700; }

section {
  margin-top: 100px; }

.recent {
  margin-top: 150px; }
  .recent p {
    text-align: center; }
  .recent a {
    color: #ED1C24;
    text-decoration: none; }
  .recent h2 {
    margin-bottom: 10px; }

.mapcanvas {
  height: 70vh;
  width: 100%; }

.toggle-back img {
  width: 14px; }
.toggle-back p {
  padding-top: 10px;
  color: #02142B;
  font-size: 16px;
  text-transform: uppercase; }
  .toggle-back p:hover {
    color: #ED1C24; }

.list-all {
  display: flex;
  justify-content: space-between; }

li {
  margin: 10px 0;
  padding-left: none; }

ul {
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px; }

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto; }

.footerstyles {
  padding: 0px 20px;
  background-color: #1F252B;
  overflow: hidden; }
  .footerstyles span {
    color: #C1C0B9;
    font-family: "Avenir Book", sans-serif;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px; }

footer nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px; }
  footer nav li a {
    color: #ED1C24;
    font-family: "Avenir Book", sans-serif;
    font-size: 16px;
    margin: 5px;
    letter-spacing: 1.5px;
    text-decoration: none; }
    footer nav li a:hover {
      color: white;
      transition: color 0.2s ease; }
