
// variables - colors

$red-color:                 #FB0D29;
$darkgrey-color:            #02142B;
$lightgrey-color:           #808080;
$backgroundgrey-color:      #F5F5F5;
$footer-color:              #1F252B; 
$black:                      #403f3f;

// variables - fonts

$headings-font:             'Lato', sans-serif;
$body-font:                 'Roboto Mono', monospace;



$body-size:                 16px;

$h2-size:                   42px;
$h3-size:                   32px;
$h4-size:                   24px;


body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  
  background-color: seashell;
  color: $black;
  margin:0px;
}

// outer wrapper
.container-fluid {
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

// inner wrapper
.container {
  margin: 40px auto 40px auto;
  padding: 0px 40px;
}


// header

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // background-color: white;
  // box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
  z-index: 2;
}


header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px 8px;
}




header nav li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;

  a {
  color: $darkgrey-color;
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: $red-color;
      transition: color 0.2s ease;
    }
  }
}

header img {
  width: 100px
}

.background-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}


// shared styles


h2 {
  color: $red-color;
  text-align: center;
  font-size: $h2-size;
  font-family: $headings-font;

}

h3 {
  color: $black;
  text-align: center;
  font-size: $h3-size;
  font-family: $headings-font;
  text-transform: uppercase;
  margin: 30px 0;
}

h4 {
  color: $black;
  font-size: $h4-size;
  font-family: $headings-font;
  margin-left: 10px;
}

// section {
//   margin-top: 100px;
// }

a {
  font-family: $body-font;
  font-size: $body-size;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: color 0.2s ease;
}


// Recent bloodys


.recent {
  margin-top: 200px;
    text-align: center;
  a {
    color: $black;
    display: block;
    margin-bottom: 20px;

    &:hover {
    color: $red-color;
    }
  }
}

.welcome {
    max-width: 800px;
    margin: 100px auto 0;
  .h2 {
  color: $black;
  font-size: $h2-size;
  font-family: $headings-font;
  }
  a {
  color: $red-color;
  font-size: $h2-size;
  font-family: $headings-font; 
  }
}

.welcome .about {
  color: $black;
  font-family: $body-font;
  font-size: $body-size;
  transition: color 0.2s ease;

  &:hover {
  color: $red-color;
  }

}


.mapcanvas{
  height:70vh; 
  width:100%;
}

.places {
  margin-top:200px;
  text-align: center;
  a {
    color: $black;
    display: block;
    margin-bottom: 20px;

    &:hover {
    color: $red-color;
    }
  }
}



// list // 

.list {
  margin-top: 50px;
}

.list-image {
  height: 450px;
  width: 100%;
  background-image: url('../images/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  background-size: cover;   
}


.list-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.list ul {
  margin: 0px 10px;
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

.venues a {
  font-family: $headings-font;
  font-size: 14px;
  color: $darkgrey-color;
  margin-left: 8px;
}

.list  li {
    margin: 15px 0 30px; 
  }

.rating {
  display: block;
  img {
    width:10%;
  }
}


.location {
  font-size: 12px;
}



// About page //


.about-image {
  height: 450px;
  width: 100%;
  background-image: url('../images/2.jpeg');
  background-repeat: no-repeat;

  background-position: center;
  background-color: red;
  background-size: cover;
}

.about-image h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color:white
}


.about-text {
  max-width: 900px;
  margin: 40px auto 0;
  a {
    color:$red-color;
  }
}


// Footer styles //


footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.footerstyles {
  background-color: $footer-color;
  overflow: hidden;

  p {
    color: #C1C0B9;
    font-family: $headings-font;
    font-size: $body-size;
    margin: 5px;
    letter-spacing: 1.5px;
  }
}


footer nav li {
  margin: 0 0 0 10px;
  display: inline-block;
  list-style: none;
  font-size: 16px;

  a {
  color: $red-color;
  font-family: $body-font;
  font-size: $body-size;
  margin: 5px;
  letter-spacing: 1.5px;
  text-decoration: none;

    &:hover {
      color: white;
      transition: color 0.2s ease;
    }
  }
}

.visible-small {
  display:none;
}

@media (max-width: 400px) {

  .hidden-small {
    display:none;
  }
  .visible-small {
    display:block;
  }

  .container {
    padding: 20px;
  }

  header .container {
    padding: 20px; 
    ul {
      display: inline;
    }
  }
  footer .container {
    padding: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
  .recent,
  .places {
    margin-top: 100px;
  }
  .recent a,
  .places a {
    color: $red-color;
  }

  .welcome {
    display: block;
    margin-top: 60px;
    margin-top: 100px;
    .h2 {
    font-size: $h4-size;
    }
    a {
    font-size: $h4-size;
    }
  }

  .about-text {
    max-width: 900px;
    margin: 40px;
  }

}


@media (max-width: 367px) {

  header ul {
    -webkit-padding-start: 0px;
  }
}

@media (max-width: 327px) {

  header .container {
    padding: 10px;
  }
  header {
    height: 76px;
  }


}


@media (max-width: 310px) {


  header nav {
    font-size: 14px;
  }
  header img {
    width: 80px;
  }

  header .container {
  align-items: flex-end;
  padding: 12px;
  }

}




